
.addresses-abroad{
    .addresses-abroad-section{
        width: 80%;
        height: 100%;   
        background-color: $--background-color;
        padding: 50px;
        gap: 30px !important;
        .head{
            span{
                @include Fonts(600, 24px);

            }
            .headline-responsive{
                display: none;
            }
            .make-order-btn{
                margin-bottom: 20px;
                button{
                    padding: 10px;
                    background-color: $--light;
                    @include Border(13px);
                    border: none;
                    @include Fonts(600, 20px);
                    a{
                        span{
                            color: $--orange;
                        }
                    }
                    .icon{
                        background-color: $--orange;
                        @include Border(50px);
                        width: 26px;
                        height: 26px;
                        @include Flex(row, center, center);
                        img{
                            width: 10px;
                            height: 10px; 
                        }
                    
                    }
                }
            }
        
        }
        .responsive-head{
            display: none !important;
        }
        .turkey-btn{
            border: 2px solid $--orange;
            padding: 8px 10px;
            width: 100px;
            @include Flex(row,center,center);     
            @include Border(13px);     
            button{
                border: none;
                color: $--orange;
            }
        }
        .addresses-abroad-table{
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            padding: 30px !important;
            @include Border(13px);
            width: 100%;
            table{
                width: 100%;
                tbody{
                   
                }
                tr{
                    display: flex;
                    gap: 10px;
                    margin-bottom: 25px;
                    td{
                        width: 30%;
                    }
                }
            }
        }
        .a-table{
            .row{
                // :nth-child(odd){
                //     background-color: $--orange;
                // }
                div{
                    border-right: 1px solid $--orange;
                //     :last-child{
                //     border: 1px solid transparent;
                //     background-color: red;
                // }
                } 
            }
        }
        .addresses-abroad-table-responsive{
            display: none !important;
        }
    }

}
