
.batches{
   
    .batches-section{
        width: 85%;
        padding: 20px;
        background-color: $--lightgray;
        padding: 30px 50px 200px 50px !important; 
        .make-order-btn{
            margin-bottom: 20px;
            button{
                padding: 10px;
                background-color: $--light;
                @include Border(13px);
                border: none;
                @include Fonts(600, 20px);
                a{
                    span{
                        color: $--orange;
                    }
                }
                .icon{
                    background-color: $--orange;
                    @include Border(50px);
                    width: 26px;
                    height: 26px;
                    @include Flex(row, center, center);
                    img{
                        width: 10px;
                        height: 10px; 
                    }
                
                }
            }
        }
        .batches-number{
            cursor: pointer;
            padding: 9px 20px; 
            border: 2px solid $--dark;
            @include Border(13px);
        }
        .pages{
            .previous{
                padding: 13px 25px;
                @include Flex(row, center, center);
                background-color: #E4E4E4;
                @include Flex(row, center, center);
                @include Border(13px);
                color:  #8B8B8B;
                border: none;
            }
            .next{
                padding: 13px 25px;
                background-color: $--orange;
                @include Flex(row, center, center);
                @include Border(13px);
                color:  $--light;
                border: none;
    
            }
        }
    }
    .batches-section-responsive{
        display: none;
    }
} 



#products-modal{
    .modal-dialog{
        .modal-content{
            padding: 10px 35px;
            .modal-header{
                padding: 10px 0;
                .title{
                    .img-div{
                        width: 30px;
                        height: 30px;
                        background-color: $--orange;
                        @include Flex(row,center,center);
                        @include Border(50%);
                        img{
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .modal-title{
                        @include Fonts(600,24px);
                        color: $--orange;
                    }
                }
            }
            .modal-body{
                padding: 0;
                p{
                    @include Fonts(600,20px);
                }
            }
        }
    }
}