
.make-courier-order{
    .courier-order-section{
        width: 80%;
        height: 100%;   
        background-color: $--background-color;
        padding: 50px;
        gap: 30px !important;
        .head{
            #head-span{
                @include Fonts(600, 24px);

            }
            .headline-responsive{
                display: none;
            }
            .make-order-btn{
                margin-bottom: 20px;
                button{
                padding-left: 10px;
                background-color: $--light;
                @include Border(13px);
                border: none;
                @include Fonts(600, 18px);
                color: $--orange;
                .icon{
                        background-color: $--orange;
                        @include Border(50px);
                        width: 26px;
                        height: 26px;
                        @include Flex(row, center, center);
                        img{
                        width: 10px;
                        height: 10px; 
                        }
                
                }
                }
        }
        
        }
        .services{
            margin-bottom: 30px;
            h5{
                @include Fonts(600, 20px);
            }
            .balance-services{
                width: 48%;
                padding: 15px 20px !important;
                background-color: #FFFFFF;
                @include Border(13px);
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                p{
                    @include Fonts(400, 16px);
                }
                .money{
                    width: 25%;
                    padding: 5px 8px;
                    color: $--orange;
                    border: 1px solid $--orange;
                    background-color: #FFF0E5;
                    @include Flex(row, center, center);
                    @include Border(13px);
                }
            }
            .increase-balance{
                width: 48%;
                background-color: #FFFFFF;
                @include Border(13px);
                padding: 10px 20px !important;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
                .buttons{
                    width: 100%;
                }
                .enter-amount{
                    width: 45%;
                    padding: 5px 10px;
                    color: #A7A7A7;
                    border: 1.5px solid $--orange;
                    @include Flex(row, center, center);
                    @include Border(13px);

                }
                .increase-btn{
                    background-color: $--orange;
                    width:45%;
                    padding: 5px 10px;
                    color: $--light;
                    border: 1px solid $--orange;
                    @include Flex(row, center, center);
                    @include Border(13px);

                }
            }
        }
        .order-table{
            .orders-header{
                margin-bottom: 20px;
                .orders{
                    @include Flex(row, center, center);
                    @include Fonts( 600, 20px);
                    @include Border(13px);
                    padding: 0px 25px;
                    background-color: $--light;
                    color:  $--orange;
                    border: none;
                    gap: 10px;
                    .courier-btn{
                        color:  $--orange;
                        @include Fonts(600,20px);
                        border: none;
                        background-color: $--light;
                    }
                    div{
                        background-color: $--orange;
                        @include Border(50px);
                        width: 33px;
                        height: 33px;
                        @include Flex(row, center, center);
                        img{
                            width: 20px;
                            height: 20px; 
                        }
                    }
                }
                .package-in-office{
                    @include Flex(row, center, center);
                    @include Fonts( 600, 16px);
                    @include Border(13px);
                    padding: 10px 0px;
                    background-color: $--light;
                    color:  $--dark;
                    border: 1.7px solid $--dark;
                    gap: 10px;
                    width: 25%;
                }
            }
        }
        .order-table-responsive{
            display: none !important;
        }
        .pages{
            .previous{
                padding: 13px 25px;
                background-color: #E4E4E4;
                @include Flex(row, center, center);
                @include Border(13px);
                color:  #8B8B8B;
                border: none;
            }
            .next{
                padding: 13px 25px;
                background-color: $--orange;
                @include Flex(row, center, center);
                @include Border(13px);
                color:  $--light;
                border: none;
    
            }
        }
    }

}

.modal{
    padding-top: 40px;
    .modal-dialog{
        .modal-content{
            .modal-header{
                .orders{
                    @include Flex(row, space-between, center);
                    @include Fonts(600, 20px);
                    @include Border(13px);
                    background-color: $--light;
                    color:  $--orange;
                    border: none;
                    gap: 10px;
                    div{
                        background-color: $--orange;
                        @include Border(50px);
                        width: 33px;
                        height: 33px;
                        @include Flex(row, center, center);
                        img{
                            width: 20px;
                            height: 20px; 
                        }
                    }
                }
                .close{
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            } 
            .modal-body{
                .section{
                    .choose-package{
                        padding-right: 20px;
                        width: 50%;
                        table{
                                input{
                                    width: 15px;
                                    height: 15px;
                                }
                        }
                    }
                    h5{
                        display: none;
                    }
                    form{
                        h5{
                            display: block;
                            @include Fonts(600,16px);

                        }

                    }
                    .choose-package-responsive{
                        display: none;
                    }
                    .make-order{
                        width: 49%;
                        border-left: 2px solid $--orange;
                        padding-left: 10px;
                        form{
                            label{
                                @include Fonts(600, 17px);
                            }
                            .select{
                                @include Border(5px 0 0 5px);
                                width: 45%;
                            }
                            #number{
                                @include Border(0 5px 5px 0);
                            }
                        }
                        .checkbox:checked {
                            background-color: #a77e2d !important;
                            color: #ffffff !important;
                        }
                        .checkbox:after {
                            box-shadow: none !important;
                        }                          
                        .payment{
                            span{
                                @include Fonts( 600, 16px);
                            }
                            div{
                                border: 2px solid $--orange;
                                @include Border(13px);
                                color: $--orange;
                                padding: 5px 8px;
                            }
                        }
                        .make-order-btn{
                            button{
                                @include Fonts(600, 17px);
                                @include Flex(row, center, center);
                                border: 2px solid $--orange;
                                @include Border(13px);
                                color: $--light;
                                background-color:  $--orange;
                                padding: 10px 0px;
                                width: 30%;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
