@import '../sass-utils/helpers';
@import '../sass-utils/mixins';
@import '../sass-utils/_variable.scss';


.forget-password-section{
    position: relative;
    height: 400px;
    .bg-forget-password{
        @include Border(13px);
        @include Flex(column, center, center);
        background-color: $--light;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: absolute;
        top: -150px;
        left: 128px;
        right: 168px;
        padding: 31px 200px  100px 200px;
        z-index: 999;
       
        h1{
            text-align: center;
            margin: 94px 0 46px 0;
        }
        form{
            width: 90%;
        }
        .forget-password-btn{
            @include Border(13px);
            background-color: $--orange;
            color: $--light;
            border: none;
            @include Flex(row, center, center);
            padding: 10px;
            width: 90%;
        }
        .register{
            @include Flex(row, center, center);
            margin-top: 71px;
            gap: 10px;
            color: $--gray;
          
        }
    }
}