
@import '../sass-utils/helpers';
@import '../sass-utils/mixins';
@import '../sass-utils/_variable.scss';
.page-text{
    position: absolute;
    top: 181px;
    left: 460px;
    color: $--light;
    z-index: 999;
    @include Font('Inter', 600, 34px);
    line-height: 41px;
    text-align: center;
}
header {
    background-color: $--orange;
    padding: 20px ;
    nav{
        .image-box{
            background-color: $--light;
            @include Border(50px);
            width: 60px;
            height: 60px;
            @include Flex(row, center, center);
            img{
                width: 30px;
                height: 30px; 
            }
        }
        .buttons-group { 
            .menu-box {
                button {
                    @include Flex(row, none, center);
                    @include Border(50.1425px);
                    gap: 11px;
                    background-color: $--light;
                    border: none;
                    color: $--orange;
                    padding: 4px 25px 4px 8px;
    
                    .menu-icon-box {
                        background-color: $--orange;
                        @include Border(50px);
                        width: 30px;
                        height: 30px;
                        @include Flex(row, center, center);
    
                        i {
                            color: $--light;
                        }
                    }
                }
            }
            .login-box{
                button {
                    @include Flex(row, none, center);
                    @include Border(50.1425px);
                    gap: 13px;
                    background-color: $--light;
                    border: none;
                    color: $--orange;
                    padding: 4px 35px 4px 8px;
    
                    .login-icon-box {
                        background-color: $--orange;
                        @include Border(50px);
                        width: 30px;
                        height: 30px;
                        @include Flex(row, center, center);
    
                        i {
                            color: $--light;
                        }
                    }
                }
            }
            .register-box{
                button {
                    @include Flex(row, none, center);
                    gap: 9px;
                    background-color: $--dark;
                    border: none;
                    color: $--light;
                    padding: 4px 20px 4px 8px;
                    @include Border(50.1425px);
                    .register-icon-box {
                        background-color: $--light;
                        @include Border(50px);
                        width: 30px;
                        height: 30px;
                        @include Flex(row, center, center);
    
                        i {
                            color: $--dark;
                        }
                        a{
                                color: $--light;
                        }
                    }
                }
            }
            .mobile-menu{
                display: none;
            }
        }
    }
    .penguin-logo-background{
        width: 334px;
        height: 300px;
    }
}