@import '../sass-utils/helpers';
@import '../sass-utils/mixins';
@import '../sass-utils/_variable.scss';

.ana-sehife-text{
    position: absolute;
    top: 200px;
    left: 50px;
    width: 500px;
    height: 100px;
    color: $--light;
    @include Font('Inter', 400, 16px);
}
.highlights{
    display: none !important;
   
}
.calculator{
    .calculator-info{
        width: 30%;
        background-color: $--orange;
        padding: 10px 10px 0 10px;
        color: $--light;
        .calc-logo-img{
            background-color: $--light;
            @include Border(50px);
            width: 60px;
            height: 60px;
            @include Flex(row, center, center);
            img{
                width: 30px;
                height: 30px; 
            }
        }
        .calc-title{
            width: 75%;
        }
        .calc-img{
            img{
                    width: 421px;
                    height: 486px;
            }
        }
    }
    .calculations{
        width: 70%;
        .select-form{
            width: 800px;
            select{
                border: 1px solid $--orange
            }
            input{
                border: 1px solid $--orange
            }
        }
        .calc-btn{
            @include Border(13px);
            background-color: $--orange;
            border: none;
            padding: 10px 50px;
            color: $--light;
        }
        p{
            color: $--orange;
            @include Font('Inter',600, 17px)
        }
    }
}
.advantages{
    .advantage-info{
        width: 30%;
        height: 100%;
        background-color: $--dark;
        padding: 50px;
        color: $--light;
        .adv-logo-img{
            background-color: $--light;
            @include Border(50px);
            width: 60px;
            height: 60px;
            @include Flex(row, center, center);
            img{
                width: 30px;
                height: 30px; 
            }
        }
        .adv-title{
            width: 75%;
        }
    }
    .advantages-section{
        width: 70%;
        height: 100%;
        padding: 0 50px;
        @media screen and (max-width: 576px){
            display: flex !important;
            flex-direction: column !important;
        }
        .advantage{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            gap: 20px;
            .logo{
                background-color: $--orange;
                @include Border(50px);
                width: 60px;
                height: 60px;
                @include Flex(row, center, center);
                img{
                    width: 30px;
                    height: 30px; 
                    z-index: 999;
                }
            }
            h3{
                color: $--orange;
                width: 100%;
            }
            p{
                @include Font('Inter', 400, 16px);
                width: 100%;
            }

        }
        :nth-child(1){
            width: 30%;
            padding: 10px 20px;
        }
        :nth-child(2){
            width: 30%;
            padding: 10px 20px;
        }
        :nth-child(3){
            width: 30%;
            padding: 10px 20px;
        }
    }
}  
.work{
    .how-to-work-info{
        width: 30%;
        background-color: $--orange;
        padding: 50px;
        color: $--light;
        .work-logo-img{
            background-color: $--light;
            @include Border(50px);
            width: 60px;
            height: 60px;
            @include Flex(row, center, center);
            img{
                width: 30px;
                height: 30px; 
            }
        }
        .work-title{
            width: 75%;
        }
    }
    .steps{
        display: block !important;
        width: 70%;
        .step{
            padding: 20px;
            h3{
                color: $--orange;
                width: 60%;
            }
            .step-number{
                @include Font('Inter', 600, 50px);
                color: rgba(102, 102, 102, 0.15);

            }
            .step-logo{
                background-color: $--orange;
            @include Border(50px);
            width: 40px;
            height: 40px;
            @include Flex(row, center, center);
            img{
                width: 20px;
                height: 20px; 
            }
            }
        }
    }
    .steps-responsive{
        display: none !important;
    }
}
.latest-news{
    padding: 40px 0;
    .news{
        h2{
            @include Font('Inter', 600, 34px);
        }
        span{
            color: $--orange;
            text-align: end;
        }
        .some-news{
            box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
            padding: 20px 30px;
            .logo{
                margin-bottom: 10px;
                background-color: $--orange;
                @include Border(50px);
                width: 60px;
                height: 60px;
                @include Flex(row, center, center);
                img{
                    width: 30px;
                    height: 30px; 
                }
            }
            h4{
                color: $--orange;
                @include Font('Inter', 600, 26px);
            }
            img{
                width: 100%;
            }
            
        }
    }
}
.example-sites{
    margin-top: 40px;
    h2{
        @include Font('Inter', 600, 34px);
    }
}

.advantage{

    .logo{
        svg{
            path{
                fill: red !important ;
            }
        }
    }
}