
.orders{
    display: flex !important;
    .order-section{
        width: 85%;
        padding: 40px;
        background-color: $--lightgray;
        padding: 30px 50px 200px 50px !important;
        .responsive-header{
            display: none !important;
        } 
        .make-order-btn{
            margin-bottom: 20px;
            button{
                padding: 10px;
                background-color: $--light;
                @include Border(13px);
                border: none;
                color: $--orange;
                @include Fonts(600, 20px);
                .icon{
                    background-color: $--orange;
                    @include Border(50px);
                    width: 26px;
                    height: 26px;
                    @include Flex(row, center, center);
                    img{
                        width: 10px;
                        height: 10px; 
                    }
                
                }
            }
        }
        .pay-btn{
            display: block !important;
            background-color: $--orange;
            width: 100%;
            @include Border(13px);
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            button{
                width: 155px;
                height: 50px;
                border: none;
                color: $--light;
                @include Fonts(600, 20px);
                background-color: $--orange;
                @include Flex(row, center, center);
                gap: 10px;
                .dollar-icon{
                    background-color: $--light;
                    @include Border(50px);
                    width: 26px;
                    height: 26px;
                    @include Flex(row, center, center);
                    img{
                        width: 10px;
                        height: 10px; 
                    }
                
                }
            }
        }
        .responsive-table{
            display: none !important;
        }
        .pages{
            .previous{
                padding: 13px 25px;
                @include Flex(row, center, center);
                background-color: #E4E4E4;
                @include Flex(row, center, center);
                @include Border(13px);
                color:  #8B8B8B;
                border: none;
            }
            .next{
                padding: 13px 25px;
                background-color: $--orange;
                @include Flex(row, center, center);
                @include Border(13px);
                color:  $--light;
                border: none;
    
            }
        }
    } 
    .order-section-responsive{
        display: none !important;
    }
}