
.register-section{
    position: relative;
    height: 500px;
    .bg-sign-up{
        @include Border(13px);
        @include Flex(column, center, center);
        background-color: $--light;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: absolute;
        top: -130px;
        left: 75px;
        right: 168px;
        padding: 31px 20px;
        z-index: 999;
        margin-bottom: 500px;
        width: 90%;
        h1{
            text-align: center;
            margin-bottom: 46px;
            @include Font('Inter', 600,34px)
        }
        .register-btn{
            @include Border(13px);
            background-color: $--orange;
            color: $--light;
            border: none;
            @include Flex(row, center, center);
            padding: 10px;
        }
        .login{
            @include Flex(row, center, center);
            margin-top: 50px;
            gap: 10px;
            color: $--gray;
        }
        .responsive-form{
            display: none !important;
        }
    }
}

