@import '../sass-utils/helpers';
@import '../sass-utils/mixins';
@import '../sass-utils/_variable.scss';

@media screen and (max-width: 576px){
//----- Header -------
    header{
        .image-box{
            width: 40px;
            height: 40px;    
        }
        .buttons-group{
            .menu-box {
                display: none;
            }
            .login-box{
                display: none;

            }
            .register-box{
                display: none;
            }
            .mobile-menu{
                    display: block;
                    button{
                        @include Flex(row, none, center);
                        @include Border(50.1425px);
                        gap: 11px;
                        background-color: $--light;
                        border: none;
                        color: $--orange;
                        padding: 4px;
                    }
                    .menu-icon-box {
                        background-color: $--light;
                        @include Border(50px);
                        width: 30px;
                        height: 30px;
                        @include Flex(row, center, center);
                        i {
                            color: $--orange;
                        }
                    }
            }
        }
        .penguin-logo-background{
            top: 0px;
            left: 70px;
            width: 250px;
            height: 228px;
        }
    }

//----- Xidmetler -------
    .xidmetler{
        .xidmetler-info{
                // @include Flex(column, center, center);       
                display: flex;
                flex-direction: column;
                .logo-box{
                    width: 100%; 
                }
                .main-info{
                    width: 100%; 
                }
        }
    }

//----- Sifremi unuttum -------
    .forget-password-section{
            top: 137px;
            left: 29px; 
            right: 28px;  
            padding: 23px 19px 50px 19px;
            .register{
                    @include Flex(column, center, center);
            }
    }

//----- Haqqimizda -------
    .haqqimizda{
            @include Flex(column, center, center);
            .haqqimizda-img{
                    width: 100%;
                    img{
                            width: 100%;
                    }
            }
    }
    .haqqimizda-info{
            padding: 70px 40px ;
            .haqqimizda-logo-img{    
                    width: 190px;
                    height: 190px;  
                    left: 90px;  
                    top: 40px;    
            }
            .haqqimizda-letter{
                    width: 300px;
                    height: 90px;  
                    left: 50px;
                    bottom: 0px;      
            }
            .car-icon{
                    width: 35px;
                    height: 22px;  
                    left: 15px;
                    bottom: 20px;      
            }
            .basket-icon{
                    width: 35px;
                    height: 22px;  
                    right:  15px;
                    bottom: 20px;      
            }
            .box-icon{
                    width: 25px;
                    height: 22px;      
            }
    }

//----- Daxil ol -------
    .login-section{
        top: 170px;
        left: 29px;
        right: 28px; 
        padding: 23px 19px 40px 19px;  
        h1{
                margin: 0 0 23px 0;   
                @include Font('Inter', 600, 18px);
        } 
        .register{
                @include Flex(column, center, center);
        }
    }

//----- Qeydiyyat -------
    .register-section{
        top: 170px;  
    }

//----- Traifler -------
    .tarifler{
        .tarifler-info{
                @include Flex(column, center, center);  
                .logo-box{
                        width: 100%; 
                        #coin{
                                left: 260px;
                                top: 150px;    
                        }
                } 
                .main-info{
                        width: 100%; 

                }    
        }
        .prices{
                .price-list{
                        .price{
                            width: 100%;      
                        }
                }
        }
    }

//----- Footer -------
    .footer{
       margin-top: 500px;
       .contact-section{
        @include Flex(column, space-between, none);
        .contact {
                width: 100%;
                order: 2;
                padding: 20px 20px 0 20px;
                gap: 50px;
                .contact-container{
                        @include Flex(column, space-between, none);
                        .contact-section{
                                box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
                                margin-bottom: 20px;
                        }
                }
        }
        .social-media{
                width: 100%;
                order: 1;
                padding: 50px 30px;
        }
       }
       .developed-by{
        display: none;
       }

    }

//----- Ana sehife -------
    .ana-sehife-text{
        top: 100px;
        left: 20px;    
        @include Font('Inter', 400, 12px);
    }
    .calculator{
        @include Flex(column, none, center) ;
        display: block !important;
        .calculator-info{
            padding: 20px 20px 0 20px;
            width: 100%;
            .calc-logo-img{
                width: 40px;
                height: 40px; 
            }
            .calc-img{
                img{

                        width: 170px;
                        height: 195px;
                }
            }
        }
        .calculations{
            width: 100%;
            padding: 20px;
            .select-form{
                width: 370px;
            }
        }
    }
    .advantages{
        width: 100%;
        // @include Flex(column, center, center);
        display: flex !important;
        flex-direction: column !important;
        .advantage-info{
            width: 100%;
            .adv-logo-img{
                width: 40px;
                height: 40px; 
            }
        }
        .advantages-section{
                width: 100%;
                padding: 20px 10px;
                @include Flex(column, center, center) ;
                .advantage{
                        width: 100%;
                        gap:0;
                        .logo{
                                width: 40px;
                                height: 40px;
                        }
                }
                :nth-child(1){
                        padding: 5px;
                    }
                    :nth-child(2){
                        padding: 5px;
                    }
                    :nth-child(3){
                        padding: 5px;
                    }
        }
    }
    .work{
        @include Flex(column, center, center);
        .how-to-work-info{
                width: 100%;
                .work-logo-img{
                        width: 40px;
                height: 40px;
                }
        }
        .steps{
                width: 100%;
                .step{
                        .step-logo{
                                width: 40px;
                                height: 40px;
                        }
                }
        }
    }
    .latest-news{
        .news{
                .some-news{
                        .logo{
                                width: 40px;
                                height: 40px;
                                img{
                                        width: 20px;
                                        height: 20px;
                                }
                        }
                }
        }
    }
    .example-sites{
        .sites{
                display: flex;
                overflow-x: scroll;
        }
    }

//----- Balans xidmetleri -------
    .balance-services{
        display: flex;
        flex-direction: column !important;
        .balance-transactions{
                display: flex;
                padding: 20px;
                width: 100%;
                padding: 20px 55px;
                background-color: $--lightgray;
                .head{
                        display: flex;
                        flex-direction: column !important;
                        align-items: flex-start !important;
                        gap: 20px;
                        .headline{
                                display: none;
                        }
                        .headline-responsive{
                                display: block;
                                @include Font('Inter', 600, 18px);
                        }
                }
                .services{
                flex-direction: column !important;
                gap: 20px;
                        h5{
                                @include Font('Inter', 600, 18px);
                        }
                        .balance-services{
                                width: 100%;
                                box-shadow: 0px 4.38158px 16.4309px rgba(0, 0, 0, 0.1);
                        }
                        .increase-balance{
                                width: 100%;
                                box-shadow: 0px 4.38158px 16.4309px rgba(0, 0, 0, 0.1);
                                .buttons{
                                        flex-direction: column !important;
                                        .enter-amount{
                                                width: 100%;
                                                padding: 10px 80px;
                                        }
                                        .increase-btn{
                                                width: 100%;
                                                padding: 10px 100px;
                                        }
                                }
                        }
                }
                .transactions{
                        display: none !important;
                }
                .transactions-responsive{
                        display: flex !important;
                        width: 100%;
                        .product{
                                width: 100%;
                                margin-bottom: 20px;
                                position: relative;
                                @include Border(14.2401px);
                                box-shadow: 0px 4.38158px 16.4309px rgba(0, 0, 0, 0.1);
                                background-color: #FFFFFF;
                                gap: 40px;
                                padding: 13px 20px;
                                .icon-close{
                                        position: absolute;
                                        right: 25px;
                                        top: 25px;
                                }
                                .info{
                                        border-bottom: 1px solid #DCDCDC;
                                        padding: 10px 0;
                                }
                                p{
                                        @include Font('Inter', 600, 18px);   
                                }
                                span{
                                        @include Font('Inter', 500, 16px);
                                }
                                .pay-btn{
                                @include Border(13px);
                                background-color: $--orange;
                                color: $--light;
                                width: 100%;
                                padding: 8px;
                                border: none;
                                }
                                .insure-btn{
                                @include Border(13px);
                                background-color:  #4CB71A;
                                color: $--light;
                                width: 100%;
                                padding: 8px;
                                border: none;
                                }
                                .edit-trash{
                                        .edit{
                                                background-color: $--orange;
                                                @include Border(50px);
                                                width: 26px;
                                                height: 26px;
                                                @include Flex(row, center, center);
                                                img{
                                                width: 10px;
                                                height: 10px; 
                                                }
                                                
                                        } 
                                        .delete{
                                                background-color: $--dark;
                                                @include Border(50px);
                                                width: 26px;
                                                height: 26px;
                                                @include Flex(row, center, center);
                                                img{
                                                width: 10px;
                                                height: 10px; 
                                                }
                                        }
                                }
                        }
                }
                .pages{
                        .previous{
                            padding: 8px 15px;
                            @include Flex(row, center, center);
                            background-color: #E4E4E4;
                            @include Border(13px);
                            color:  #8B8B8B;
                            border: none;
                        }
                        .next{
                                padding: 8px 15px;
                                @include Flex(row, center, center);
                                background-color: $--orange;
                                @include Border(13px);
                                color:  $--light;
                                border: none;
                
                        }
                }
        }
        
    }


//----- Baglamalarim -------
        .baglamalarim{
        display: flex;
        flex-direction: column !important;
        .baglamalarim-section{
                display: none !important;
        }
        .baglamalarim-section-responsive{
                display: block !important;
                padding: 20px 55px;
                background-color: $--lightgray;
                .baglama-sayi{
                width: 80%;
                        margin-bottom: 20px;
                        padding: 9px 0 9px 10px;
                        border: 2px solid $--dark;
                        @include Border(13px);
                        img{
                        margin-left: 35px;
                        }
                }
                .responsive-table{
                        .product{
                                margin-bottom: 20px;
                                position: relative;
                                @include Border(14.2401px);
                                box-shadow: 0px 4.38158px 16.4309px rgba(0, 0, 0, 0.1);
                                background-color: #FFFFFF;
                                gap: 40px;
                                padding: 13px 20px;
                                .icon-close{
                                        position: absolute;
                                        right: 25px;
                                        top: 25px;
                                }
                                .info{
                                        border-bottom: 1px solid #DCDCDC;
                                        padding: 10px 0;
                                }
                                p{
                                        @include Font('Inter', 600, 18px);   
                                }
                                span{
                                        @include Font('Inter', 500, 16px);
                                }
                                .product-btn{
                                @include Border(13px);
                                background-color: $--orange;
                                color: $--light;
                                width: 100%;
                                padding: 8px;
                                border: none;
                                }
                                .history-btn{
                                @include Border(13px);
                                background-color: $--dark;
                                color: $--light;
                                width: 100%;
                                padding: 8px;
                                border: none;
                                }
                                .insure-btn{
                                @include Border(13px);
                                background-color:  #4CB71A;
                                color: $--light;
                                width: 100%;
                                padding: 8px;
                                border: none;
                                }
                        }
                }
                .pages{
                        .previous{
                        padding: 8px 15px;
                        @include Flex(row, center, center);
                        background-color: #E4E4E4;
                        @include Border(13px);
                        color:  #8B8B8B;
                        border: none;
                        }
                        .next{
                                padding: 8px 15px;
                                @include Flex(row, center, center);
                                background-color: $--orange;
                                @include Border(13px);
                                color:  $--light;
                                border: none;
                
                        }
                }
        }
        }
// ------ Sifarislerim ------
        .orders{
                display: flex;
                flex-direction: column !important;
                .order-section{
                        display: none !important;        
                } 
                .order-section-responsive{
                        display: block !important;
                        padding: 20px 55px;
                        background-color: $--lightgray;
                        h5{
                                @include Font('Inter', 600, 18px);
                        }
                        .responsive-table{
                                .product{
                                        margin-bottom: 20px;
                                        position: relative;
                                        @include Border(14.2401px);
                                        box-shadow: 0px 4.38158px 16.4309px rgba(0, 0, 0, 0.1);
                                        background-color: #FFFFFF;
                                        gap: 40px;
                                        padding: 13px 20px;
                                        .icon-close{
                                                position: absolute;
                                                right: 25px;
                                                top: 25px;
                                        }
                                        .info{
                                                border-bottom: 1px solid #DCDCDC;
                                                padding: 10px 0;
                                        }
                                        p{
                                                @include Font('Inter', 600, 18px);   
                                        }
                                        span{
                                                @include Font('Inter', 500, 16px);
                                        }
                                        .pay-btn{
                                        @include Border(13px);
                                        background-color: $--orange;
                                        color: $--light;
                                        width: 100%;
                                        padding: 8px;
                                        border: none;
                                        }
                                        .insure-btn{
                                        @include Border(13px);
                                        background-color:  #4CB71A;
                                        color: $--light;
                                        width: 100%;
                                        padding: 8px;
                                        border: none;
                                        }
                                        .edit-trash{
                                                .edit{
                                                        background-color: $--orange;
                                                        @include Border(50px);
                                                        width: 26px;
                                                        height: 26px;
                                                        @include Flex(row, center, center);
                                                        img{
                                                        width: 10px;
                                                        height: 10px; 
                                                        }
                                                        
                                                } 
                                                .delete{
                                                        background-color: $--dark;
                                                        @include Border(50px);
                                                        width: 26px;
                                                        height: 26px;
                                                        @include Flex(row, center, center);
                                                        img{
                                                        width: 10px;
                                                        height: 10px; 
                                                        }
                                                }
                                        }
                                }
                        }
                        .pages{
                                .previous{
                                padding: 8px 15px;
                                @include Flex(row, center, center);
                                background-color: #E4E4E4;
                                @include Border(13px);
                                color:  #8B8B8B;
                                border: none;
                                }
                                .next{
                                        padding: 8px 15px;
                                        @include Flex(row, center, center);
                                        background-color: $--orange;
                                        @include Border(13px);
                                        color:  $--light;
                                        border: none;
                        
                                }
                        }
                }
        }

// ------- Borclarim --------
.dubts{
        display: flex;
        flex-direction: column !important;
        .balance-dubts{
                display: flex;
                padding: 20px;
                width: 100%;
                padding: 20px 55px;
                background-color: $--lightgray;
                .head{
                        display: flex;
                        flex-direction: column !important;
                        align-items: flex-start !important;
                        gap: 20px;
                        .headline{
                                display: none;
                        }
                        .headline-responsive{
                                display: block;
                                @include Font('Inter', 600, 18px);
                        }
                }
                .services{
                flex-direction: column !important;
                gap: 20px;
                        h5{
                                @include Font('Inter', 600, 18px);
                        }
                        .balance-services{
                                width: 100%;
                                box-shadow: 0px 4.38158px 16.4309px rgba(0, 0, 0, 0.1);
                        }
                        .increase-balance{
                                width: 100%;
                                box-shadow: 0px 4.38158px 16.4309px rgba(0, 0, 0, 0.1);
                                .buttons{
                                        flex-direction: column !important;
                                        .enter-amount{
                                                width: 100%;
                                                padding: 10px 80px;
                                        }
                                        .increase-btn{
                                                width: 100%;
                                                padding: 10px 100px;
                                        }
                                }
                        }
                }
                .services-table{
                        display: none !important;
                }
                .services-table-responsive{
                        display: flex !important;
                        width: 100%;
                        .product{
                                width: 100%;
                                margin-bottom: 20px;
                                position: relative;
                                @include Border(14.2401px);
                                box-shadow: 0px 4.38158px 16.4309px rgba(0, 0, 0, 0.1);
                                background-color: #FFFFFF;
                                gap: 40px;
                                padding: 13px 20px;
                                .icon-close{
                                        position: absolute;
                                        right: 25px;
                                        top: 25px;
                                }
                                .info{
                                        border-bottom: 1px solid #DCDCDC;
                                        padding: 10px 0;
                                }
                                p{
                                        @include Font('Inter', 600, 18px);   
                                }
                                span{
                                        @include Font('Inter', 500, 16px);
                                }
                                .pay-btn{
                                @include Border(13px);
                                background-color: $--orange;
                                color: $--light;
                                width: 100%;
                                padding: 8px;
                                border: none;
                                }
                                .insure-btn{
                                @include Border(13px);
                                background-color:  #4CB71A;
                                color: $--light;
                                width: 100%;
                                padding: 8px;
                                border: none;
                                }
                                .edit-trash{
                                        .edit{
                                                background-color: $--orange;
                                                @include Border(50px);
                                                width: 26px;
                                                height: 26px;
                                                @include Flex(row, center, center);
                                                img{
                                                width: 10px;
                                                height: 10px; 
                                                }
                                                
                                        } 
                                        .delete{
                                                background-color: $--dark;
                                                @include Border(50px);
                                                width: 26px;
                                                height: 26px;
                                                @include Flex(row, center, center);
                                                img{
                                                width: 10px;
                                                height: 10px; 
                                                }
                                        }
                                }
                        }
                }
                .pages{
                        .previous{
                            padding: 8px 15px;
                            @include Flex(row, center, center);
                            background-color: #E4E4E4;
                            @include Border(13px);
                            color:  #8B8B8B;
                            border: none;
                        }
                        .next{
                                padding: 8px 15px;
                                @include Flex(row, center, center);
                                background-color: $--orange;
                                @include Border(13px);
                                color:  $--light;
                                border: none;
                
                        }
                }
        }
        
    }











//  cox yerde olanlar
.menu-bar{
        width: 100%;
        display: flex !important;
        align-items: flex-start !important;
        padding: 10px 0 10px 30px;
        .account{
                display: flex !important;
                align-items: flex-start !important;
        }
        .menu{
                display: none !important;
        }
}

.make-order-btn{
        margin-bottom: 20px;
        button{
        padding-left: 10px;
        background-color: $--light;
        width: 155px;
        height: 50px;
        @include Border(13px);
        border: none;
        color: $--orange;
        @include Font('Inter', 600, 20px);
        .icon{
                background-color: $--orange;
                @include Border(50px);
                width: 26px;
                height: 26px;
                @include Flex(row, center, center);
                img{
                width: 10px;
                height: 10px; 
                }
        
        }
        }
}















































}




