@import '../sass-utils/helpers';
@import '../sass-utils/mixins';
@import '../sass-utils/_variable.scss';

.services{
    margin-bottom: 80px;
    .services-info{
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        .logo-box{
            width: 30%;
            background-color: $--dark;
            padding: 50px 50px;
            color: $--light;
            position: relative;
            .image{
                padding: 12px 10px ;
                background-color: $--light;
                @include Border(50px);

            }
            .img{
                position: relative;
                padding-top: 30px;
            }
        }
        .main-info{
            width: 70%;
            h2{
                color: $--orange;
                
            }
            p{
                @include Font('Inter', 400, 16px);
                line-height: 147.52%;
            }
        }
    }
   
}