@import '../sass-utils/helpers';
@import '../sass-utils/mixins';
@import '../sass-utils/_variable.scss';

.orders{
    display: flex !important;
    
    .order-section{
        width: 85%;
        padding: 40px;
        background-color: $--lightgray;
        .make-order-btn{
            margin-bottom: 20px;
            button{
                padding-left: 10px;
                background-color: $--light;
                width: 155px;
                height: 50px;
                @include Border(13px);
                border: none;
                color: $--orange;
                @include Font('Inter', 600, 20px);
                .icon{
                    background-color: $--orange;
                    @include Border(50px);
                    width: 26px;
                    height: 26px;
                    @include Flex(row, center, center);
                    img{
                        width: 10px;
                        height: 10px; 
                    }
                
                }
            }
        }
        .table{
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
            .titles{
                color: $--light;
                background-color: $--orange;
                @include Border(13px 13px 0 0);
                .col{
                    border-right: 1px solid $--light;
                    // :nth-child(4) {
                    //     border-right: 1px solid $--orange;
                    // }
                }
            }
           .orders-row{
            // :nth-child(odd) {
            //     background-color: $--light;
            // }
            // :nth-child(even) {
            //     background-color: $--lightgray;
            // }
            width: 100%;
            .col{
                .insure-btn{
                    background-color: $--green;
                    width: 105px;
                    height: 35px;
                    color: $--light;
                    @include Border(13px);
                    border: none;
                    @include Flex(row, center, center);
                }
                .edit{
                    background-color: $--orange;
                    @include Border(50px);
                    width: 26px;
                    height: 26px;
                    @include Flex(row, center, center);
                    img{
                        width: 10px;
                        height: 10px; 
                    }
                    
                } 
                .delete{
                    background-color: $--dark;
                    @include Border(50px);
                    width: 26px;
                    height: 26px;
                    @include Flex(row, center, center);
                    img{
                        width: 10px;
                        height: 10px; 
                    }
                }  
            }
           }
        }
        .pay-btn{
            background-color: $--orange;
            width: 100%;
            @include Border(13px);
            @include Flex(row, center, center);
            button{
                width: 155px;
                height: 50px;
                border: none;
                color: $--light;
                @include Font('Inter', 600, 20px);
                background-color: $--orange;
                @include Flex(row, center, center);
                gap: 10px;
                .dollar-icon{
                    background-color: $--light;
                    @include Border(50px);
                    width: 26px;
                    height: 26px;
                    @include Flex(row, center, center);
                    img{
                        width: 10px;
                        height: 10px; 
                    }
                
                }
            }
        }
        .pages{
            .previous{
                padding: 13px 25px;
                @include Flex(row, center, center);
                background-color: #E4E4E4;
                @include Flex(row, center, center);
                @include Border(13px);
                color:  #8B8B8B;
                border: none;
            }
            .next{
                padding: 13px 25px;
                background-color: $--orange;
                @include Flex(row, center, center);
                @include Border(13px);
                color:  $--light;
                border: none;
    
            }
        }
    }
    .order-section-responsive{
        display: none !important;
    }
}