@import '../sass-utils/helpers';
@import '../sass-utils/mixins';
@import '../sass-utils/_variable.scss';

.table{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    thead{
        color: $--light;
        @include Border(13px);
        background-color: $--orange;
        tr{
            th{
                border-right: 2px solid $--light;
            }
        }
    }
    tbody{
        // :nth-child(odd) {
        //     background: red;
        //   }
        tr{
          width: 100%;
            .col{
                .insure-btn{
                    background-color: $--green;
                    width: 105px;
                    height: 35px;
                    color: $--light;
                    @include Border(13px);
                    border: none;
                    @include Flex(row, center, center);
                }
                .confirm-btn{
                    background-color: $--green;
                    width: 105px;
                    height: 35px;
                    color: $--light;
                    @include Border(13px);
                    border: none;
                    @include Flex(row, center, center);
                }
                .open-detail{
                    background-color: $--light;
                    @include Border(50px);
                    width: 35px;
                    height: 35px;
                    @include Flex(row, center, center);
                    img{
                        width: 20px;
                        height: 20px; 
                    }
                    
                }  
                .edit-trash{
                    .edit{
                            background-color: $--orange;
                            @include Border(50px);
                            width: 26px;
                            height: 26px;
                            @include Flex(row, center, center);
                            img{
                            width: 10px;
                            height: 10px; 
                            }
                            
                    } 
                    .delete{
                            background-color: $--dark;
                            @include Border(50px);
                            width: 26px;
                            height: 26px;
                            @include Flex(row, center, center);
                            img{
                            width: 10px;
                            height: 10px; 
                            }
                    }
            } 
            }
        }
        .details{
            width: 100%;
            padding: 20px;
            td{
                width: 50%;
                
            }
            .products{
                width: 48%;
                background-color: $--orange;
                color: $--light;
                @include Border(13px);
                border: none;
            }
            .history{
                width: 48%;
                background-color: $--dark;
                color: $--light;
                @include Border(13px);
                border: none;
            }
        }
    }
}

