@import '../sass-utils/helpers';
@import '../sass-utils/mixins';
@import '../sass-utils/_variable.scss';



.page-text{
    position: absolute;
    top: 181px;
    left: 462px;
    color: $--light;
    z-index: 999;
    @include Font('Inter', 600, 34px);
    line-height: 41px;
    @media (max-width: 576px){
        top:110px;
        left: 130px;
        @include Font('Inter', 600, 18px);
    }
}
.register-section{
    @include Border(13px);
    @include Flex(column, center, center);
    background-color: $--light;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    top: 260px;
    left: 128px;
    right: 168px;
    padding: 31px 40px;
    z-index: 999;
   margin-bottom: 500px;
   @media (max-width: 576px){
    top: 170px;  
}
    h1{
        text-align: center;
        margin-bottom: 46px;
    }
    .register-btn{
        @include Border(13px);
        background-color: $--orange;
        color: $--light;
        border: none;
        @include Flex(row, center, center);
        padding-top: 13px;
    }
    .login{
        @include Flex(row, center, center);
        margin-top: 94px;
        gap: 10px;
        color: $--gray;
    }
  
}

