@mixin Fonts($font-weight, $font-size){
    font-family: 'Poppins', sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
}
@mixin Flex($flex-direction,$justify-content , $align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin Border($border-radius){
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;
}
